{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}
{% block content %}
 <section class="urls ">
        <h3>{{title}}</h3>
        <p>Imagine if there was through a website save all your bookmarks and retrieve them as you desire .</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, dolores. Totam unde sunt aut! Modi, facilis
            possimus nesciunt quia iste similique beatae exercitationem adipisci ipsam magnam rem eaque iure neque?</p>

         <h2>Recently Added bookmarks</h2>

        {% if new_bookmarks.count() > 0 %}
            {% with bookmarks=new_bookmarks %}
            {% include "bookmark_list.html" %}
            {% endwith %}
        {% else %}
            <span class="none">No bookmarks yet</span>
        {% endif %}
    </section>

   
   
{% endblock content %}



</body>

</html>